.Contactcontainer{
    
    /* background-image: url("https: //www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iai.co.il%2Fcontact-us&psig=AOvVaw2jRTR8Q6qI-KVXQH5Hy_ci&ust=1666358211735000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCNCr1Kry7voCFQAAAAAdAAAAABAJ"); */
        background-color: #cccccc;
        height:630px;
}

.Container2{
   
    padding: 100px;
}